#diagramContainer {
    position: relative;
    height: 100%;
}

.item {
    position: absolute;
    height: auto;
    width: auto;
    padding: 10px 20px;
    border: 1px solid #346789;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #eeeeef;
    /*font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;*/
    cursor: move;
    box-shadow: 2px 2px 10px #aaa;
    transition: background-color 0.25s ease-in;
    /*opacity: 0.8;*/
}

.is-start {
    background-color: #cccccc;
    border-radius: 50%;
}

.is-end {
    background-color: #cccccc;
    border-radius: 50%;
}

.item:hover {
    box-shadow: 2px 2px 10px #444;
    /*opacity: 0.6;*/
    background-color: #5c96bc;
    color: white;
}

.aLabel {
    background-color: #fff;
    font-size: 13px;
    /*opacity: 0.8;*/
    padding: 0.2em;
    border-radius: 0.3em;
    border: 1px solid #346789;
    cursor: pointer;
    /*font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;*/
}
/*.aLabel:hover{*/
    /*background-color: #1e8151;*/
    /*color: #FFFFFF;*/
/*}*/

.ep {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}
