<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="lancer_quote" name="義成報價系統" icon="terp-sale"
                  web_icon="lancer_quote,static/description/icon.png" groups="lancer_quote.group_lancer_base_user"
                  sequence="0"/>

        <!-- 報價單 -->
        <menuitem id="menu_lancer_quote_menu" name="報價單"
                  parent="lancer_quote.lancer_quote" sequence="0"/>
        <!--報價單 -->
        <menuitem id="menu_lancer_quote__menu" name="報價單" action="action_lancer_quote_form"
                  parent="lancer_quote.menu_lancer_quote_menu" sequence="1"/>

        <menuitem id="menu_lancer_payment_term" name="付款條件" action="action_lancer_payment_term_form"
                   parent="lancer_quote.menu_lancer_quote_menu" sequence="2"/>

        <menuitem id="menu_action_lancer_incoterm_open" name="貿易條件" action="action_lancer_incoterms_tree"
                  parent="lancer_quote.menu_lancer_quote_menu" sequence="3"/>


        <!-- 基本資料 -->
        <menuitem id="menu_lancer_base_main_menu" name="基本資料設定"
                  parent="lancer_quote.lancer_quote" sequence="1"/>
        <!--客戶基本資料維護 -->
        <menuitem id="menu_lancer_partner_main_menu" name="客戶" action="base.action_partner_customer_form"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="4"/>
        <menuitem action="base.action_res_users" id="lancer_menu_action_res_users" name="員工"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="5"/>

        <!--產品基本資料維護 -->
        <menuitem id="menu_lancer_product_main_menu" name="產品" action="action_lancer_product_form"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="1"/>

        <menuitem id="menu_lancer_main_main_menu" name="主件" action="action_lancer_main_form"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="2"/>

        <menuitem id="menu_lancer_main_item_main_menu" name="品項" action="action_lancer_main_item_form"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="3"/>

        <menuitem id="menu_lancer_other_main_category_menu" name="主件分類" action="action_lancer_main_category_form"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="6"/>
        <menuitem id="menu_lancer_other_main_item_category_menu" name="品項分類" action="action_lancer_main_item_category_form"
                  parent="lancer_quote.menu_lancer_base_main_menu" sequence="7"/>

        <!-- 金屬加工設定 -->
        <menuitem id="menu_lancer_base_other_setting_menu" name="金屬加工設定"
                  parent="lancer_quote.lancer_quote" sequence="2"/>

        <menuitem action="action_lancer_version_metal_form" name="金屬加工版本設定"
                  id="menu_lancer_metal_version" parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="1"/>


        <menuitem action="action_lancer_routing_shape_form" name="形狀"
                  id="menu_lancer_routing_shape" parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="2"/>
        <menuitem action="action_lancer_routing_coating_form" name="鍍層"
                  id="menu_lancer_routing_coating" parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="3"/>
        <menuitem action="action_lancer_routing_cutting_form" name="刃口"
                  id="menu_lancer_routing_cutting" parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="4"/>
        <menuitem action="action_lancer_routing_outer_form" name="外徑"
                  id="menu_lancer_routing_outer" parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="5"/>

        <menuitem id="menu_lancer_metal_type_menu" name="鋼材規格設定" action="action_lancer_metal_type_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="6"/>
        <menuitem id="menu_lancer_metal_spec_menu" name="鋼材種類設定" action="action_lancer_metal_spec_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="7"/>
        <menuitem id="menu_lancer_metal_cutting_long_menu" name="下料長度(mm)設定" action="action_lancer_metal_cutting_long_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="8"/>

        <menuitem id="menu_lancer_cost_map_file_menu" name="特徵值關係表設定" action="action_lancer_cost_map_file_form"
          parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="9"/>


        <menuitem id="menu_lancer_lancer_cost_wire_file_menu" name="材料單價設定" action="action_lancer_cost_wire_file_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="10"/>
        <menuitem id="menu_lancer_cost_cal_file_menu" name="單重長度表設定" action="action_lancer_cost_cal_file_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="11"/>
        <menuitem id="menu_lancer_cost_plat_file_menu" name="電鍍單價表設定" action="action_lancer_cost_plat_file_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="12"/>
        <menuitem id="menu_lancer_cost_pro_file_menu" name="內製/委外 加工成本" action="action_lancer_cost_pro_file_form"
                  parent="lancer_quote.menu_lancer_base_other_setting_menu" sequence="13"/>




        <!-- 手柄射出設定 -->
        <menuitem id="menu_lancer_quote_main_menu" name="手柄射出設定"
                  parent="lancer_quote.lancer_quote" sequence="3"/>

        <menuitem action="action_lancer_version_handle_form" name="手柄射出版本設定"
                  id="menu_lancer_routing_version" parent="lancer_quote.menu_lancer_quote_main_menu" sequence="1"/>


        <menuitem action="action_lancer_routing_series_form" name="系列別"
                  id="menu_lancer_routing_series" parent="lancer_quote.menu_lancer_quote_main_menu" sequence="2"/>
        <menuitem action="action_lancer_routing_handle_form" name="手柄尺吋"
                  id="menu_lancer_routing_handle" parent="lancer_quote.menu_lancer_quote_main_menu" sequence="3"/>

        <menuitem id="menu_lancer_handlematerial_process_menu" name="自製手柄加工工序設定" action="action_lancer_handlematerial_process_form"
                  parent="lancer_quote.menu_lancer_quote_main_menu" sequence="4"/>
        <menuitem id="menu_lancer_handlematerial_material_menu" name="自製手柄材質設定" action="action_lancer_handlematerial_material_form"
                  parent="lancer_quote.menu_lancer_quote_main_menu" sequence="5"/>
        <menuitem id="menu_lancer_cost_handle_file_menu" name="手柄用料" action="action_lancer_cost_handle_file_form"
                  parent="lancer_quote.menu_lancer_quote_main_menu" sequence="6"/>

        <!-- 組裝設定 -->
        <menuitem id="menu_lancer_routing_menu" name="組裝設定"
                  parent="lancer_quote.lancer_quote" sequence="4"/>

        <menuitem action="action_lancer_routing_wages_form" name="組裝-工資項目"
                  id="menu_lancer_routing_wages" parent="lancer_quote.menu_lancer_routing_menu" sequence="8"/>
        <menuitem action="action_lancer_routing_material_form" name="組裝-材料"
                  id="menu_lancer_routing_material" parent="lancer_quote.menu_lancer_routing_menu" sequence="9"/>



        <!-- 外購基本資料維護 -->
        <menuitem id="menu_lancer_quote_subcontract_main_menu" name="外購基本資料設定"
                  parent="lancer_quote.lancer_quote" sequence="5" groups="lancer_quote.group_lancer_base_user"/>
        <menuitem id="menu_lancer_partner_supplier_main_menu" name="供應商" action="base.action_partner_supplier_form"
                  parent="lancer_quote.menu_lancer_quote_subcontract_main_menu" sequence="1" groups="lancer_quote.group_lancer_base_user"/>
        <menuitem id="menu_lancer_subcontract_category_main_menu" name="品項分類" action="lancer_quote.action_lancer_subcontract_category_form"
                  parent="lancer_quote.menu_lancer_quote_subcontract_main_menu" sequence="2" groups="lancer_quote.group_lancer_base_user"/>
        <menuitem id="menu_lancer_subcontract_material_main_menu" name="材質" action="lancer_quote.action_lancer_subcontract_material_form"
                  parent="lancer_quote.menu_lancer_quote_subcontract_main_menu" sequence="2" groups="lancer_quote.group_lancer_base_user"/>
        <menuitem id="menu_lancer_subcontract_treatment_main_menu" name="表面處理" action="lancer_quote.action_lancer_subcontract_treatment_form"
                  parent="lancer_quote.menu_lancer_quote_subcontract_main_menu" sequence="2" groups="lancer_quote.group_lancer_base_user"/>


        <!-- 包裝基本資料維護 -->
        <menuitem id="menu_lancer_quote_package_main_menu" name="包裝基本資料設定"
                  parent="lancer_quote.lancer_quote" sequence="6"/>
        <menuitem action="action_lancer_package_setting_form" name="包裝材料項目"
                  id="menu_lancer_package_setting" parent="lancer_quote.menu_lancer_quote_package_main_menu" sequence="1"/>
        <menuitem action="action_lancer_package_expense_form" name="包裝費用項目"
                  id="menu_lancer_package_expense" parent="lancer_quote.menu_lancer_quote_package_main_menu" sequence="2"/>




    </data>
</odoo>
