<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<menuitem id="lancer_quote" name="義成報價系統" icon="terp-sale"
				  web_icon="lancer_quote,static/description/icon.png"
			sequence="0" />

		<!--客戶基本資料維護 -->
		<menuitem id="menu_lancer_partner_main_menu" name="客戶"
			parent="lancer_quote.lancer_quote" sequence="1"
			action="contacts.action_contacts"/>

		<!--產品基本資料維護 -->
		<menuitem id="menu_lancer_product_main_menu" name="產品"
			parent="lancer_quote.lancer_quote" sequence="2"/>

			<menuitem id="menu_lancer_product_menu" name="產品"
				parent="menu_lancer_product_main_menu" sequence="1"
				action="stock.product_template_action_product"/>

			<menuitem id="menu_lancer_product_category_menu" name="產品類別"
				parent="menu_lancer_product_main_menu" sequence="2"
				action="product.product_category_action_form"/>

		<!--報價 -->
		<menuitem id="menu_lancer_quote_main_menu" name="報價"
			parent="lancer_quote.lancer_quote" sequence="3"/>

			<menuitem id="menu_lancer_quote_menu" name="細項報價"
				parent="menu_lancer_quote_main_menu" sequence="1"
				action="sale.action_orders"/>

			<menuitem id="menu_lancer_quote_fast_menu" name="快速報價"
				parent="menu_lancer_quote_main_menu" sequence="2"
				action="sale.action_orders"/>
	</data>
</odoo>
